<%- include('partials/header') %>
    <div class="container">
        
        <div class="col-md border p-5 mt-5">
            <form action="" method="post">
                <p class="h2 text-center">Registration Form</p>
                <div class="form-group">
                    <label for="username">Username: </label>
                    <input type="text" class="form-control" name="username" placeholder="username..." required>
                </div>
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" name="email" class="form-control" placeholder="email address..." required>
                </div>
                <div class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" name="password" class="form-control" placeholder="password" required>
                </div>
                <div class="form-group">
                    <label for="conpass">Confirm Password: </label>
                    <input type="password" name="conpass" class="form-control" placeholder="confirm password" required>
                </div>
                <div class="form-group float-right">
                    <input type="submit" value="Register" class="btn btn-success">
                    <input type="button" value="Cancel" class="btn btn-secondary">
                    <button class="btn btn-danger btn-large"><a style="text-decoration: none;color:black;" href="./login.ejs">Login</a></button>
                </div>
            </form>
        </div>
    </div>
<%- include('partials/footer')%>