<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Register</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="form-structor">
        <div class="signup">
            <h2 class="form-title" id="signup"><span>or</span>Sign up</h2>
            <form action="/register" method="post">
                <div class="form-holder">
                    <input type="text" class="input" placeholder="Username" name="username" />
                    <input type="email" class="input" placeholder="Email" name="email" />
                    <input type="password" class="input" placeholder="Password" name="password" />
                </div>
                <button type="submit" class="submit-btn">Sign up</button>
            </form>
        </div>
        <div class="login slide-up">
            <div class="center">
                <h2 class="form-title" id="login"><span>or</span>Log in</h2>
                <form action="" method="get">
                    <div class="form-holder">
                        <input type="email" class="input" placeholder="Email" name="email" />
                        <input type="password" class="input" placeholder="Password" name="password" />
                    </div>
                    <button type="submit" class="submit-btn">Log in</button>
                </form>
            </div>
        </div>
    </div>
    <script src="./js/myscript.js"></script>
</body>

</html>